{% extends '../layout.html' %}
{% block body %}

<h2>Authentication</h2>
<p>
	This repository use <a href="http://passportjs.org/">passport.js</a>, a simple, unobtrusive authentication for Node.js.
</p>

<h2>Template engine</h2>
<p>
	This repository use <a href="http://paularmstrong.github.io/swig/">swig</a>, a simple, powerful, and extendable JavaScript Template Engine.
</p>

<h2>Database</h2>
<p>
	This repository use <a href="http://mongoosejs.com/">mongoose ODM</a>, an elegant mongodb object modeling for node.js
</p>

{% endblock %}